# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
build
my-app.git

# misc
.DS_Store
.env
npm-debug.log

# API
client_secret.json
gmail-credentials.json
